<form action="<%= form.action %>" method="post">
  <% if form.method == 'put' %>
    <input type="hidden" name="_method" value="put">
  <% end %>
  <label for="device_name">Name:</label>
  <input type="text" id="device_name" name="device[name]" value="<%= form.name %>">
  <label for="device_status_id">Status:</label>
  <select id="device_status_id" name="device[status_id]">
    <% form.status_values.each do |v| %> 
      <option value="<%= v[1] %>"<%= ' selected="selected"' if v[1] == form.status_id %>><%= v[0] %></option>
    <% end %>
  </select>
  <p><button type="submit" class="btn">Submit</button><a class="btn" href="/">Cancel</a></p>
</form>
