<ul class="breadcrumb">
  <li><a href="/">All devices</a></li><span class="divider">/</span>
  <li class="active"><%= @page.name %></li>
</ul>
<h1><%= @page.name %></h1>
<p><strong>More information:</strong> 
  <% if @page.reference_url %>
    <a href="<%= @page.reference_url %>"><%= @page.reference_url_text %></a>
  <% else %>
    <%= @page.reference_url_text %>
  <% end %>
</p>
<p><strong>Status:</strong> <%= @page.status %></p>
<p><a class="btn" href="<%= @page.edit_device_path %>">Edit</a></p>
<h2>Maintainers</h2>
<p><a class="btn" href="<%= @page.new_maintainer_path %>">Add Maintainer</a></p>
<ul>
<% @page.maintainers.each do |maintainer| %>
   <li><%= maintainer[:name] %> <form action="<%= maintainer[:delete_path] %>" method="post" ><%= token_tag(nil) %><input type="hidden" name="_method" value="delete"><button type="submit" class="btn">(delete)</button></form></li>
<% end %>
</ul>
<h2>Owners</h2>
<p><a class="btn" href="<%= @page.new_owner_path %>">Add Owner</a></p>
<ul>
<% @page.owners.each do |owner| %>
   <li><%= owner[:name] %> <form action="<%= owner[:delete_path] %>" method="post" ><%= token_tag(nil) %><input type="hidden" name="_method" value="delete"><button type="submit" class="btn">(delete)</button></form></li>
<% end %>
</ul>
