<ul class="breadcrumb">
  <li><a href="/">All devices</a></li>
  <li class="active"><%= @page.name %></li>
</ul>
<h1><%= @page.name %></h1>
<p><strong>Status:</strong> <%= @page.status %></p>
<p><strong>Tag:</strong> <%= @page.status %></p>
<p><strong>More information:</strong> <a href="<%= @page.reference_url %>"><%= @page.reference_url %></a></p>
