<!DOCTYPE html>
<html>
<head>
  <title>EquipmentDb</title>
  <%= stylesheet_link_tag   "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">
      <p>The source code for this site lives at <a href="https://github.com/Makespace/equipment-db">https://github.com/Makespace/equipment-db</a>. Please report bugs and make feature requests using the GitHub &lsquo;issues&rsquo; system.</p>
    </div>
  </footer>
</body>
</html>
