<!DOCTYPE html>
<html>
<head>
  <title>EquipmentDb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag   "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35733553-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div id="wrap">
  <%= render 'layouts/header' %>
    <div class="main-content container">
      <%= render 'layouts/flash', flash: flash %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
