<!DOCTYPE html>
<html>
<head>
  <title>EquipmentDb</title>
  <%= stylesheet_link_tag   "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="wrap">
  <%= render 'layouts/header' %>
    <div class="main-content container">
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
