<!DOCTYPE html>
<html>
<head>
  <title>EquipmentDb</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag   "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <div id="wrap">
  <%= render 'layouts/header' %>
    <div class="main-content container">
      <%= render 'layouts/flash', flash: flash %>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
