<!DOCTYPE html>
<html>
<head>
  <title>EquipmentDb</title>
  <%= stylesheet_link_tag   "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
